.all-products img {
    /* uncommenting out the height makes the images the same height but it messes with their original ratio */
    /* height: 200px; */
    width: 100%;
}
.all-products {
    font-family: 'Karla', sans-serif;
    margin: auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) )
}

.all-products div {
    padding: 20px;
}

.all-products a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.all-products a:hover {
    text-decoration: none;
    color: var(--green)
}

@media screen and (min-width: 1020px){
    .all-products {
        grid-template-columns: repeat(4, 1fr);
}
}