.about-us h1 {
	padding: 20px;
}

.about-us .member-img {
	width: 200px;
	border-radius: 50%;
	border: 5px solid #D10081;
}

.about-us .member-text {
	padding-left: 20px;
	color: var(--green);
	font-size: 18px;
}

@media screen and (min-width: 768px) {
	.about-member {
		display: flex;
		padding: 20px;
	}

	.member-img {
		width: 150px;
		border-radius: 50%;
	}

	.member-text {
		text-align: left;
		padding-left: 20px;
	}
}
