.about-us h1 {
    padding: 20px;
}

.about-member{
    display:flex;
    padding: 20px;
}

.member-img {
    width:150px;
    border-radius: 50%;
}

.member-text {
    text-align: left;
    padding-left: 20px;
}