.carousel {
    display: none
}

.hero-image {
    /* background-color: orange; */
    margin-top: 0px;
}

.hero-image img {
    width: 100%;
    /* height: 400px; */
}

@media screen and (min-width: 768px){
    .hero-image {
        display: none;
    }

    .carousel {
        display: block;
        background-color: var(--light-purple);
    }
}