/* the header has two divs. if we're keeping this header, just style with flexbox space between to separate and within the second div do space around to evenly space them out

not sure whats gonna happen with the bootstrap nav bar though*/
.header {
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.header .logo {
    padding: 5px 0 0 5px;
    margin: 0px;
}

.header .logo img {
    height: 40px;
}

.header .page-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--purple);
}

.page-links div {
    padding: 10px;
    background-color: var(--purple);
}

.page-links div:hover{
    background-color: var(--green);
}

.page-links a {
    color: var(--whiteish);
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    line-height: 10px;
}

.page-links a:hover{
    text-decoration: none;
    color: white;
}