:root{
  --purple: #6762A6;
  --light-purple: #A6A1C0;
  --whiteish: #E4DFDA;
  --green: #12664F;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,700&display=swap');

body {
  margin: 0px
}